@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import '../../bower_components/normalize-scss/_normalize';
@import '../styles/_scaffolding';
@import '../styles/_type';
@import '../styles/_forms';

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 60px 15px;
}


// injector
// endinjector
