.container(ng-init="init()")
  div(ng-include="'components/navbar/navbar.html'")
  button(ng-click="login()", ng-hide="token") Login
  
  form.search(name="songSearch", ng-submit="search()", novalidate)
    .form-group
      label.search-label(for="songQuery") Add a song to the playlist
      input(type="search", id="songQuery", ng-model="songQuery", ng-change="search()", ng-model-options="{ debounce: 300 }", placeholder="Search for a song, artist, or album")
     
    ul.search-results#searchResults(ng-show="searchResults", off-click="closeSearch()", off-click-if="searchResults")
      li.search-result.song.empty(ng-hide="searchResults.items.length") Sorry, no results.
      li.search-result.song(ng-repeat="item in searchResults.items | unique:'external_ids.isrc'", ng-class="{playing: isPlaying && isMySong(item), paused: !isPlaying && isMySong(item), 'no-preview': !item.preview_url, 'in-playlist': inPlaylist(item.external_ids.isrc)}", on-finish-render="ngRepeatFinished", ng-click="add()")
        .song-thumb(ng-click="setAudio(item)")
          img(ng-src="{{item.album.images[2].url}}")
        .song-info
          .song-title {{item.name}}
          ul.artists
            li.artist(ng-repeat="artist in item.artists")
              {{artist.name}}
        .song-meta
          .song-duration {{item.duration_ms | mstotime}}
          .popularity 
            .popularity-bar(aria-valuenow="{{item.popularity}}", aria-valuemin="0", aria-valuemax="100", style="width: {{item.popularity}}%;")
              .sr-only Popularity {{item.popularity}}%
  
  ul.playlist(ng-show="songs")
    li.song(ng-repeat="song in songs", ng-class="{playing: isPlaying && isMySong(song.track), paused: !isPlaying && isMySong(song.track), 'no-preview': !song.track.preview_url}")
      .song-thumb(ng-click="setAudio(song.track)")
        img(ng-src="{{song.track.album.images[2].url}}")
      .song-info
        h4.song-title {{song.track.name}}
        ul.artists
          li.artist(ng-repeat="artist in song.track.artists")
            {{artist.name}}