.container(ng-init="init()")
  .spotify-login(ng-hide="token") 
    p.lead In order to view and add to the playlist, please login with your spotify account.
    button.spotify-button(ng-click="login()")
      svg(aria-label="Login with Spotify")
        use(xlink:href="/assets/icons/spotify.svg#login")
  
  mfsearch(ng-if="token")
  mfplaylist(ng-if="token", owner="{{playlistOwnerId}}", playlist="{{playlistId}}")
  .spotify-listen(ng-if="token")
    a(href="https://open.spotify.com/user/{{playlistOwnerId}}/playlist/{{playlistId}}")
      svg(aria-label="Listen on Spotify")
          use(xlink:href="/assets/icons/spotify.svg#listen")