//
// Playlists
// --------------------------------------------------

.playlist {
  margin: 0 -15px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


// Individual Songs

.playlist-item {
  width: 250px;
  margin: 0 15px 30px 15px;
}

.playlist-thumb {
  @include play-buttons-size(250px, 250px, 64px, true);
  
  img {
    max-width: 100%;
    height: 250px;
  }
}