ul.playlist
  li.playlist-item(ng-repeat="song in playlist.songs | unique:'track.external_ids.isrc' | orderBy:['added_at']:true track by song.track.external_ids.isrc")
    mfsong(song="song", playlist="playlistId")