.song-search {
  position: relative;
  width: 70%;
  margin: 0 auto 45px;
  
  .form-group {
    margin-bottom: 0;
  }
  
  label {
    display: block;
    font-size: $font-size-h4;
    text-align: center;
  }
}

.search-results {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 300px;
  width: 100%;
  width: calc(100% - 30px);
  margin: 10px 15px 0;
  padding: 10px 0 0;
  border: 1px solid #ccc;
  background: white;
  list-style: none;
}
.search-item {
  background: white;
  padding: 20px 30px 0;
  
  &:after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #D8D8D8;
  }
  
  &:hover {
    position: relative;
    @include transform(scale(1.02));
    @include transition(all .1s ease-in);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1;
    
    &:after {
      border-bottom: none;
    }
  }
  
  &.empty {
    margin-top: -10px;
    cursor: auto;
    
  }
  
  .meta,
  .info {
    z-index: 1;
  }
  
  .title {
    font-size: 1.3em;
    flex: 1 100%;
  }
  
  .meta {
    width: 64px;
    flex: 0 0 64px;
    margin-left: 30px;
    
    .time {
      line-height: 1.3*$font-size-base*$line-height-base;
    }
  }
}

.popularity {
  position:relative;
  overflow: hidden;
  height: ($line-height-computed - 14);
  margin: 6px 0;
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
      transparent 0%,  transparent 7%,  white 7%,  white 10%,
      transparent 10%, transparent 17%, white 17%, white 20%,
      transparent 20%, transparent 27%, white 27%, white 30%,
      transparent 30%, transparent 37%, white 37%, white 40%,
      transparent 40%, transparent 47%, white 47%, white 50%,
      transparent 50%, transparent 57%, white 57%, white 60%,
      transparent 60%, transparent 67%, white 67%, white 70%,
      transparent 70%, transparent 77%, white 77%, white 80%,
      transparent 80%, transparent 87%, white 87%, white 90%,
      transparent 90%, transparent 97%, white 97%, white 100%);
  }
}

// Bar of progress
.popularity-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: $font-size-small;
  line-height: $line-height-computed;
  color: white;
  text-align: center;
  background-color: $primary;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}

