//== Forms
//
//##

$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;
$input-color:                    $gray !default;
$input-border:                   #ccc !default;
$input-border-focus:             #66afe9 !default;

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-border-radius:            $border-radius-base !default;
$input-search-border-radius:     20px;